<!DOCTYPE html>
<html ng-app="store">
    <title>Angular</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="views/css/bootstrap.min.css" />
    <script type="text/javascript" src="views/js/angular.min.js"></script>
    <script type="text/javascript" src="views/js/app02.js"></script>
</head>
<body ng-controller="StoreController as store">
    <ul class="list-group">
        <!--<li class="list-group-item" ng-repeat="product in store.products | orderBy: '-price'">or +price-->
        <li class="list-group-item" ng-repeat="product in store.products"><!--or +price-->
            <h3>
                {{product.name}}
                <em class="pull-right">{{product.price| currency}}</em>
                <img ng-src="{{product.images[0].full}}" />
            </h3>
            <section ng-init="tab = 2" ng-controller="PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{active:panel.isSelected(1)}"><a href="" ng-click="panel.selectTab(1)">Description</a></li>
                    <li ng-class="{active:panel.isSelected(2)}"><a href="" ng-click="panel.selectTab(2)">Specification</a></li>
                    <li ng-class="{active:panel.isSelected(3)}"><a href="" ng-click="panel.selectTab(3)">Reviews</a></li>
                </ul>
            
            <div class="panel" ng-show="tab === 1">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="tab === 2">
                <h4>Specification</h4>
                <p>None yet</p>
            </div>
            <div class="panel" ng-show="tab === 3">
                <h4>Reviews</h4>
                <p>None yet</p>
            </div>
                </section>
        </li>
    </ul>

</body>
</html>
